<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.age.springbootmybatistest.mapper.MybatisTestMapper">

    <insert id="mybatisTest">
        insert into bulk_insert_test(DR_SEG1, DR_SEG2, DR_SEG3, DR_SEG4, DR_SEG5) values
         <foreach collection="list" item="bulkinserttest" separator=",">
             (#{bulkinserttest.drSeg1}, #{bulkinserttest.drSeg2}, #{bulkinserttest.drSeg3}, #{bulkinserttest.drSeg4}, #{bulkinserttest.drSeg5})
         </foreach>
    </insert>

</mapper>